[submodule "installer/jce"]
	path = installer/jce
	url = https://github.com/vipulsonar26/MyGitProject.git
[submodule "installer/test"]
	path = installer/test
	url = https://github.com/vipulsonar26/final_Submodule_Test.git
	branch = trunk
[submodule "Test_submodule"]
	path = Test_submodule
	url = https://github.com/vipulsonar26/Test_submodule.git
